<%- include('./partials/head.ejs') %> 
<body>
	<!-- Header -->
	<% if (locals.username != undefined) { %>
			<%- include('./partials/headerLogueado.ejs') %>  
	<% } else{%>
			<%- include('./partials/header.ejs') %>  
	<% } %>
	<!-- /Header -->
	
	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"> <%= products.nombre %> </h2> 

			<% if (locals.username != undefined) { %>
			<p class="product-detail-description">
				<a href="/products/edit/ <%= products.id %> ">Editar</a>
				<form action="/products/delete/<%= products.id %> " method="post">
						<button class="botonFormulario" type="submit"> Borrar producto </button>
						</form> 
			</p>
	<% } %>


			
		</div>
		<div class="product-detail">
			<div class="row">
			<% if (locals.errors) { %> 
					<h2 class =  "footer-data h2"> <%= locals.errors.message %>  </h2>
					 
					<% } %> 

				<article class="col-12 col-lg-8 product-detail-info">
					<img src= "<%= products.cover %>"  alt=" <%= products.nombre %>  " class="product-detail-img">
					<p class="product-detail-description">
						<%= products.descripcion %>  </p>
					<p class="product-detail-description">
						Publicado por: <a href="/users/profile/<%= products.usuario.id %>"><%= products.usuario.nombre %>  </p>	</a> 
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						
						<% for (let i = 0; i < products.comentario.length; i++) { %>
							<article>
							<img src="<%= products.comentario[i].usuario.fotoDeperfil %>" alt="<%= products.comentario[i].usuario.email%>">
							<div class="data">
								<p class="user">
								<strong> <a href="/users/profile/<%= products.comentario[i].usuario.id %>"> <%= products.comentario[i].usuario.nombre%>  </a> </strong>
								<%= products.comentario[i].comentario %></p>
							</div>
						</article>
							
						<%  } %>
						

					</section>

					<% if (locals.username) { %>
			<form class="form" action="/products/detalle/id/<%= products.id %>" method="POST">
						<input class="form-input" type="text" name="comentario" value="" placeholder="Agregar comentario">
						<button type="submit" class="botonFormulario">AGREGAR COMENTARIO</button>
					</form>
					
					<hr>
	<% } else{ %>  

	
	<a href="/login"><button class="botonFormulario">Debe estar logueado para comentar!</button></a>


	<% } %>



					
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<!-- footer -->
	<%- include('./partials/footer.ejs') %> 
	<!-- /footer -->

</body>	
</html>