<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="./images/logo-mercado-liebre.jpg" />

	<title> Mercado Liebre Argentina</title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/app.css">
</head>

<body>
	<!-- Header -->
	<%- include('./partials/header.ejs') %> 
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Resultados de búsqueda</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<div class="product-detail">
				<div class="row">
					<article class="col-12 col-lg-8 product-detail-info">
						<img src= "<%= products[2].cover %>"  alt=" <%= products[2].nombre %>  " class="product-detail-img">
						<p class="product-detail-description">
							<%= products[2].descripcion %>  </p>
					</article>
					<div class="col-12 col-lg-4">
						<section class="comments">
							
							<article>
								<img src="<%= comments[0].cover %>" alt="">
								<div class="data">
									<p class="user">
									<strong> <a href="/users/profile"> <%= comments[0].nombreusuario %>  </a> </strong>
									<%= comments[0].texto %></p>
								</div>
							</article>
							<article>
								<img src="<%= comments[1].cover %>" alt="">
								<div class="data">
									<p class="user">
										<strong> <a href="/users/profile"><%= comments[1].nombreusuario %>  </a> </strong>
										<%= comments[1].texto %></p>
								</div>
							</article>
							<article>
								<img src="<%= comments[2].cover %>" alt="">
								<div class="data">
									<p class="user">
									<strong> <a href="/users/profile"> <%= comments[2].nombreusuario %>  </a> </strong>
									<%= comments[2].texto %></p>
								</div>
							</article>
							<article>
								<img src="<%= comments[3].cover %>" alt="">
								<div class="data">
									<p class="user">
									<strong> <a href="/users/profile"> <%= comments[3].nombreusuario %>  </a> </strong>
									<%= comments[3].texto %></p>
								</div>
							</article>
							<article>
								<img src="<%= comments[4].cover %>" alt="">
								<div class="data">
									<p class="user">
									<strong> <a href="/users/profile"> <%= comments[4].nombreusuario %>  </a> </strong>
									<%= comments[4].texto %></p>
								</div>
							</article>
	
						</section>
						<form class="form" action="/products/detalle/id/:id" method="POST">
							<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						</form>
						<a class="form" href="/products/detalle/id/:id"> <button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>  </a> 
						<hr>
					</div>
				</div>
			</div>


	<!-- footer -->
	<footer class="main-footer">
		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-4">
					<article class="footer-data">
						<i class="fas fa-credit-card"></i>
						<h2>Pagá con tarjeta o en efectivo</h2>
						<p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago.
							¡Y
							siempre es seguro!</p>
					</article>
				</div>
				<div class="col-12 col-lg-4">
					<article class="footer-data">
						<i class="fas fa-gift"></i>
						<h2>Envío gratis desde $ 1.999</h2>
						<p>Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un
							beneficio de Mercado Puntos.</p>
					</article>
				</div>
				<div class="col-12 col-lg-4">
					<article class="footer-data">
						<i class="fas fa-user-shield"></i>
						<h2>Seguridad, de principio a fin</h2>
						<p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás
							siempre protegido.</p>
					</article>
				</div>
			</div>
		</div>
	</footer>
	<!-- /footer -->
</body>

</html>