<%- include('./partials/head.ejs') %> 
<body>
	<!-- Header -->
	<% if (locals.username != undefined) { %>
			<%- include('./partials/headerLogueado.ejs') %>  
	<% } else{%>
			<%- include('./partials/header.ejs') %>  
	<% } %>
	<!-- /Header -->

	<% if (user.length > 0) { %> 
				
		
		<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Resultados de búsqueda</h2>


				


			</div>
			
			<% for (let i = 0; i < user.length; i++) {  %>
				<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
				  
					<a href="/users/profile/<%= user[i].id %> "> 
					<figure class="product-box_image">
					  <img src= '<%= user[i].fotoDeperfil %>' >
					</figure>
		
					<article class="product-box_data">
					<h2> <%= user[i].nombre   %> </h2>
					  <p>Email: <%= user[i].email %></p>
					  <p>DNI: <%= user[i].dni %></p>
					  
					  

					</a>
					  
					</article>
		
				  
				</section>
			  </div>
				
			  <% }  %>

					 
	<% } else{ %> 
<div class="container products-wrapper">
		<div class="row">
<div class="col-12">
				<h2 class="products-title">No hay resultados de búsqueda</h2>


				


			</div>


			</div>

				

				<% } %>




	<!-- footer -->
	<%- include('./partials/footer.ejs') %> 
	<!-- /footer -->
</body>	
</html>