<%- include('./partials/head.ejs') %> 
<body>
	<!-- Header -->
	<%- include('./partials/header.ejs') %> 
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Resultados de búsqueda</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<div class="product-detail">
				<div class="row">
					<article class="col-12 col-lg-8 product-detail-info">
						<img src= "<%= products[2].cover %>"  alt=" <%= products[2].nombre %>  " class="product-detail-img">
						<p class="product-detail-description">
							<%= products[2].descripcion %>  </p>
					</article>
					<div class="col-12 col-lg-4">
						<section class="comments">
						
							<% for (let i = 0; i < products[0].comentario.length; i++) { %>
								<article>
								<img src="<%= products[0].comentario[i].usuario.fotoDeperfil %>" alt="<%= products[0].comentario[i].usuario.email%>">
								<div class="data">
									<p class="user">
									<strong> <a href="/users/profile"> <%= products[0].comentario[i].usuario.email%>  </a> </strong>
									<%= products[0].comentario[i].comentario %></p>
								</div>
							</article>
								
							<%  } %>
							
						
	
						</section>
						<form class="form" action="/results" method="GET">
							<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						</form>
						<a class="form" href="/results"> <button type="submit" class="botonFormulario">AGREGAR COMENTARIO</button>  </a> 
						<hr>
					</div>
				</div>
			</div>


	<!-- footer -->
	<%- include('./partials/footer.ejs') %> 
	<!-- /footer -->
</body>

</html>